<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Register</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="container">
    <form class="register-form" action="/users/register" method="post">
      <input class="register-input" type="text" name="name" placeholder="Enter Your Name">
      <input class="register-input" type="text" name="email" placeholder="Enter Your Email">
      <input class="register-input" type="text" name="password" placeholder="Enter Your Password">
      <input class="register-input" type="number" name="age" placeholder="Enter Your Age">
      <input class="register-input" type="number" name="phone" placeholder="Enter Your Phone">
      <button class="register-btn" type="submit">submit</button>
    </form>
  </div>
</body>
</html>